@import '../../../../styles.scss';

:host {
    padding: 10px 0px;
}

.container {
    display: flex;
    justify-content: left;
    padding: 8px;

    div {
        margin: 0 5px;
    }
}

.filter-title {
    padding: 0px 10px;
    margin: 0px;
    font-weight: 500;
}

.block-container {
    .block {
        border: 1px solid #F0F0F0;
        color: $dark-grey;
        padding: 10px 15px;
        width: 20px;
        font-size: 14px;
        height: 20px;
        text-align: center;
        transition: box-shadow 0.1s ease-in-out 0s;
    }
    
    .selected {
        background-color: $light-grey;
        transition: box-shadow 0.1s ease-in-out 0s;
    }
}