@import '../../../../styles.scss';

.special-price {
    color: $primary-orange;
    text-decoration: line-through;
    font-size: 18px;
}

.cancellation-policy {
    color: green;
    font-size: 14px;
    padding: 0px;
}

.main-price {
    font-size: 36px;
    padding: 8px 0px;

    span {
        font-weight: bold;
    }
}

.best-price {
    padding: 10px 0px;
}

.best-price-btn {
    background-color: $primary-orange;
    padding: 10px 2px;
    border-radius: 25px;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    width: 100%;
    display: block;
    opacity: 1.0;

    span {
        font-size: 20px;
        padding: 0px 5px;
        color: #fff;
    }

    &:hover {
        opacity: 0.8;
    }
}

.vendor-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2px 0px;

    div {
        font-size: 14px;
    }
}

.show-details {
    font-weight: bold;
    font-size: 14px;
    padding: 10px 0px;
    position: relative;
    top: 12px;

    a {
        text-decoration: none;
        color: #000;
    }
}