<div *ngIf="!isMobile; else showMobileFilters">
    <div class="filter-container">
        <div *ngFor="let filter of SLIDE_FILTERS">
            <slide-filter [filter]="filter" (selected)="selection($event)"></slide-filter>
        </div>
    </div>
    
    <div class="sort-by-filter">
        <div>Sort by </div>
        <div>
            <mat-form-field>
                <mat-select (selectionChange)="selection($event)">
                    <mat-option *ngFor="let sort of SORT_BY" [value]="sort.key">
                        {{ sort.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            2380 hotels,
            <a href="" class="upsell-deals">56 with great deals</a>
        </div>
    </div>
</div>


<ng-template #showMobileFilters>
    <div class="back-banner">
        <button type="button" mat-icon-button (click)="back()" class="filter-by">
            <mat-icon>arrow_back</mat-icon> Filter
        </button>
    </div>
    <div *ngFor="let filter of BLOCK_FILTERS; let i = index">
        <block-filter [data]="filter" (selected)="selection($event)" [colour]="colours[i]"></block-filter>
    </div>
</ng-template>