
@import '../../../../styles.scss';

.side-menu {
    width: 100%;
}

.filter-container {
    padding: 10px;

    .filter-by {
        color: $primary-blue;
        border-radius: 6px;
        padding: 8px;
        box-shadow: rgb(191, 218, 249) 0px 0px 0px 1px inset;
        background-color: rgb(247, 251, 255);
        border-width: 0px;
        margin-bottom: 8px;
        font-weight: bold;

        mat-icon {
            font-size: 16px;
            position: relative;
            top: 4px;
        }

        &:hover {
            background-color: rgb(230, 240, 253);
        }
    }
}