<div class="hotel-container">
        <div *ngIf="!isMobile">
            <div class="hotel-row">
                <filter-container [isMobile]="isMobile"></filter-container>
                <div>   
                    <div *ngIf="isLoading" class="info-text">Loading...</div>
                    <div *ngIf="!isLoading && !hotels.length && !isMobile" class="info-text">Nothing found...</div>
                </div>
            </div>

            <div>
                <div *ngFor="let hotel of hotels | slice : 0 : 5" class="hotel-row">
                    <hotel-listing [hotel]="hotel" [isMobile]="isMobile"></hotel-listing>
                </div>
            </div>
        </div>

    <div *ngIf="isMobile">
        <hotel-side-nav [hotels]="hotels" [isMobile]="isMobile"></hotel-side-nav>
    </div>
</div>