/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: #F0F0F0 }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$primary-blue: #0077FF;
$dark-grey: #8c8c8c;
$light-grey: #F0F0F0;
$primary-orange: #FF4605;
$primary-yellow: #F1BE01;
$primary-green: #0F7C0F;

.chevron::before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em;
}

.chevron.bottom:before {
	top: 0;
	transform: rotate(135deg);
}