@import '../../../../styles.scss';

.hotel-listing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
}

div.hotel-listing.mobile-hotel-listing {
    flex-flow: wrap;
}

.hotel-image {
    position: relative;
    width: 100%;
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    max-height: 300px;
    height: 300px;
    max-width: 380px;

    .great-offer-ribbon {
        background-color: $primary-orange;
        padding: 4px;
        width: 150px;
        height: 22px;
        font-size: 20px;
        line-height: 23px;
        padding-left: 15px;
        position: absolute;
        left: -8px;
        top: 20px;
        color: #fff;

        &::before {
            content: "";
            position: absolute;
        }

        &:before {
            height: 0;
            width: 0;
            top: -8.5px;
            left: 0.1px;
            border-bottom: 9px solid black;
            border-left: 9px solid transparent;
        }

        &::after {
            content: "";
            position: absolute;
        }

        &:after {
            height: 0;
            top: 0px;
            width: 0;
            right: -14.5px;
            border-top: 16px solid transparent;
            border-bottom: 15px solid transparent;
            border-left: 15px solid $primary-orange;
        }
    }

    .favourite {
        color: #fff;
        float: right;
        background: none;
        border: none;
        padding: 5px;
        margin-right: 12px;

        mat-icon {
            font-size: 38px;
        }
    }
}

.hotel-details {
    width: 100%;
    padding: 20px;

    h2 {
        margin-bottom: 0;
    }

    .location {
        color: $primary-blue;
        padding: 10px 0px;

        mat-icon {
            position: relative;
            top: 5px;
        }
    }

    .sentiment {
        padding: 10px 0px;
        font-weight: 500;

        mat-icon {
            position: relative;
            top: 5px;
        }

        .bad {
            color: red;
        }

        .average {
            color: #dada00;
        }

        .great {
            color: green;
        }
    }

    .star-container {
        display: flex;
        justify-content: space-between;
        max-width: 120px;

        .star {
            color: $light-grey;
        }

        .outline {
            color: $primary-orange;
        }
    }

    .perk-container {
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
        
        .perk {
            background-color: $light-grey;
            margin: 2px;
            border-radius: 15px;
            padding: 5px 15px;
        }
    }
}

.web-pricing-block {
    border-left: 2px solid #F0F0F0;
    max-width: 250px;
}

.pricing-block {
    text-align: center;
    width: 100%;
    align-self: center;
    padding: 15px;
    min-width: 250px;
    margin: auto;

    .special-price {
        color: $primary-orange;
        text-decoration: line-through;
        font-size: 18px;
    }
    
    .cancellation-policy {
        color: green;
        font-size: 14px;
        padding: 0px;
    }
    
    .main-price {
        font-size: 36px;
        padding: 20px 0px;

        span {
            font-weight: bold;
        }
    }

    .best-price {
        padding: 10px 0px;
    }

    .best-price-btn {
        background-color: $primary-orange;
        padding: 10px 2px;
        border-radius: 25px;
        color: #fff;
        text-decoration: none;
        text-transform: capitalize;
        width: 100%;
        display: block;
        opacity: 1.0;

        span {
            font-size: 20px;
            padding: 0px 5px;
            color: #fff;
        }

        &:hover {
            opacity: 0.8;
        }
    }

    .vendor-block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 2px 0px;

        div {
            font-size: 14px;
        }
    }

    .show-details {
        font-weight: bold;
        font-size: 14px;
        padding: 10px 0px;

        a {
            text-decoration: none;
        }
    }
}

