<div class="hotel-listing" [ngClass]="{ 'mobile-hotel-listing': isMobile }">
    <div class="hotel-image" [ngStyle]="{'background-image': 'url(' + hotel.image + ')'}">
        <span class="great-offer-ribbon" *ngIf="hotel.isSpecial">GREAT OFFER</span>
        <button type="button" mat-icon-button class="favourite" (click)="toggleFavourite()">
            <mat-icon *ngIf="!isFavourite">favorite_border</mat-icon>
            <mat-icon *ngIf="isFavourite">favorite</mat-icon>
        </button>
    </div>
    <div class="hotel-details">
        <hotel-detail [hotel]="hotel"></hotel-detail>
    </div>
    <div class="pricing-block" [ngClass]="{ 'web-pricing-block': !isMobile }">
        <hotel-pricing [hotel]="hotel"></hotel-pricing>
    </div>
</div>